* {
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}

.header, 
.footer {
    color: white;
    background: #1F2937;
}

.header {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;   
}

.logo,
ul,
.intro,
.info img {
    width: 500px;
    flex-shrink: 1;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}

li {
    margin-left: 20px;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.blurb {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.button1 {
   background: #3882f6;
   border-radius: 8px;
   color: white;
   font-weight: bold;
   padding: 5px 20px;
   border:none;
}

.header img {
    height: 250px;
    width: 500px;
}

.info img {
    height: 200px;
    width: 200px;
    border: solid 5px #3882f6;
    border-radius: 25px;
}

.main-title {
    align-items: center;
    text-align: center;
    padding: 50px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.info {
    width: 200px;
}
